.dropdownBtn {
  cursor: pointer;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  width: 182px;
  background-color: rgb(243, 243, 243);
}

.dropdownBtn > span {
  padding: 0 0 0 1rem;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
}

.dropdownContent {
  position: absolute;
  background: rgb(240, 240, 240);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  z-index: 1;
}

.dropdownItems {
  cursor: pointer;
  position: relative;
  padding: 0 0 0 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 32px;
  width: 182px;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.dropdownItems:hover {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
